
@import 'variables.scss';

/*INPUT ELEMENT*/
.input-label{
    width: 210px;
}

.input, .select{
    min-width: 0px;
    width: 100%;
}

.container{}

.button{}



.toggle{
    height: 25px;
    width: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
    &__button{
        width: 30px;
        height: 30px;
        border-radius: 8px;
        display: flex;
        align-items: center;
        cursor: pointer;
    }
    &.is-active{
        justify-content: flex-end;
        background-color: #7f8186;
    }
}


.shadow{
    box-shadow: 2px 2px 2px rgba(0,0,0,0.15), 
}

.shadow-neumorphic{
    box-shadow: 5px 5px 10px rgba(0,0,0,0.15), 
                -2px -2px 2px rgba(255,255,255,0.05);
}

.shadow-neumorphic--inset{
    box-shadow: inset 5px 5px 10px rgba(0,0,0,0.15),
                inset -2px -2px 2px rgba(255,255,255,0.05);
    background-color: #00000017;
}




